.name {
  padding: 20px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  align-content: center;
}

.icon {
  padding: 1px !important;
}

.full {
  height: 100% !important;
  width: 100% !important;
  align-content: center;
}

/* .button {
  align-content: center;
  padding-left: 50% !important;
  margin-top: 40% !important;
  margin-right: 50% !important;
} */

.gridDivision {
  align-content: center;
}

.admin
{
  padding-left: 60% !important; 
}