.heading
{
    width: 100% !important;
    height: 100% !important;
    /* padding-left: 2%;
    padding-top:1%;
    padding-right: 2%;  */
}

.verify
{
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 55px; font-weight: bold; letter-spacing: -1px; line-height: 1; 
    padding-bottom: -2.5% !important;
    
}

.button1
{
    margin-top: -3.3% !important;
    padding-right: -30% !important;
    font-size: 24px !important;
    background: transparent !important;
} 
/* 
.line
{
    margin-bottom: 10% !important;
} */